@import url('https://fonts.cdnfonts.com/css/dm-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    @apply transition-all duration-200
    
}
html {
    font-family: 'dm-sans', sans-serif;
}
::-webkit-scrollbar{
    width: 10px;
   
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
    background: #2986fe;
    border-radius: 15px;
    width: 5px; /* Adjust the width */
    height: 20px;
}
